* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    min-height: 0;
    border-radius: 30px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}
window > box {
   margin: 1px 2px 2px;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: white;
}
window {
	/*font-weight: bold;*/
}

/*-----module groups----*/
.modules-right {
	background-color: rgba(0,43,51,0.6);
    margin: 2px 10px 0 0;
}
.modules-center {
	background-color: rgba(0,43,51,0.6);
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 5px;
	background-color: rgba(0,43,51,0.6);
}
/*-----modules indv----*/
#workspaces button {
    padding: 0px 10px;
    background-color: transparent;
}
#workspaces button:hover {
    box-shadow: inherit;
	background-color: rgba(0,153,153,1);
}

#workspaces button.focused {
	background-color: rgba(0,85,102,1);
}
#workspaces button.active {
	background-color: rgba(191, 191, 191,0.5);
	box-shadow:inherit;
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
}
#mode {
    color: #cc3436;
    font-weight: bold;
}
#custom-power {
     /*background-color: rgba(0,119,179,0.6);*/
    /*border-radius: 50px;*/
    margin: 5px 5px;
    padding: 1px 3px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
    color: #2dcc36;
}
#pulseaudio.muted {
    color: #cc3436;
}
#temperature.critical {
    color: #cc3436;
}
/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *rgba(191, 191, 191,1) #C0C0C0 --> grey
 */
#waybar {
    background-color: #282828;
    color: #d8d8d8;
}

#waybar.empty, #waybar.tiled, #waybar.floating {
    background-color: transparent;
}
